img {
    width: 200px;
    margin-right: 20px;
}

body {
    /* background-image: url('../img/bus-sketch.jpg'); */
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../img/bus-sketch.jpg');
    background-repeat: no-repeat;
    background-color: white;
    background-size: 1500px;
}

#imageBlock {
    background-color: rgb(228, 228, 231, 0.65);
    width: 680px;
    height: 400px;
    padding-left: 20px;
    text-align: center;
}

#imageTitle {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#imageContainer {
    bottom: 0;
}

.imageGroup {
    border: 2px solid black;
    vertical-align: middle;
}

#imageGroupContainer {
    height:300px;
}

h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


